# Exercises: Creating, Updating, and Destroying Objects

For the exercises, you will be working with objects and data you create. Before opening this notebook, make sure that you have set up the new connection to the server and that you have located the database and your schema.

## Object Creation

Before coding, think of three things you want to make. These could be coding projects, new recipes, or planned projects for a woodworking hobby. Brainstorm the appropriate column names and data types as well.

Create a table under your schema called `planned_makes`.

In [ ]:
CREATE TABLE JunkDB_STL_March2022.maria.planned_makes (
    project_id INT PRIMARY KEY IDENTITY (1,1),
    book_ideas VARCHAR(50),
    travel_plans VARCHAR(50),
    house_projects VARCHAR(50)
);

In [26]:
USE JunkDB_STL_March2022
INSERT INTO maria.planned_makes (book_ideas, travel_plans, house_projects)
VALUES ('Poetry Book', 'Wisconsin', 'basement stairs'),
('Fiction Book', 'Colorodo', 'bathtub fitting'), 
('How-To Book', 'Alaska', 'bathroom window');

DELETE FROM maria.planned_makes
WHERE project_id > 3
SELECT *
FROM maria.planned_makes

project_id,book_ideas,travel_plans,house_projects
1,Poetry Book,Wisconsin,basement stairs
2,Fiction Book,Colorodo,bathtub fitting
3,How-To Book,Alaska,bathroom window

Add three rows to your table that are your planned makes.

## Update a Row

Change different values in one of your three rows.

In [28]:
USE JunkDB_STL_March2022
UPDATE maria.planned_makes
SET house_projects = 'shade on front porch'
WHERE house_projects = 'bathtub fitting'
SELECT *
FROM maria.planned_makes

project_id,book_ideas,travel_plans,house_projects
1,Poetry Book,Wisconsin,basement stairs
2,Fiction Book,Colorodo,shade on front porch
3,How-To Book,Alaska,bathroom window

## Delete a Row

Delete one of the rows from your table.

In [29]:
DELETE FROM maria.planned_makes
WHERE project_id = 3
SELECT *
FROM maria.planned_makes

project_id,book_ideas,travel_plans,house_projects
1,Poetry Book,Wisconsin,basement stairs
2,Fiction Book,Colorodo,shade on front porch

## Drop the Table

While this has been fun, it is time to drop the table!

In [30]:
DROP TABLE maria.planned_makes